body{
    background-color:black;
}
.row1{
    border:solid red 1px;
    height:130px;
}
.row11{
 
    height:28px;    
}
.row111{
 
    height:28px;
    float:bottom;
    
}
.rowMiddel{
 
    height:70px;
}
.col1{
    float:left;
    width:271px;
    height:100%;
}
.col2{
 
    margin:  20px 0px;
    float:  right;
    height:30px;
    width:180px;
}
.logo{ 
    width:72px;
    float:right;   
}
.moviehub{    
    float:right;
    margin:15px 0px;
  
} 
.watch1{
    color:white; 
    margin:48px 0px 28px;
    padding-left:427px;
}
.addmovie{
    color:white;
    float:right;    
}


.row2{
    border:solid red 1px;
    width:960px;
    height:277px;
    margin:0px auto;
 
}
.movierow{
    border:solid red 1px;
}
.image{
    border:solid yellow 1px;
    width:200px;
    height:252px;
    margin:0px 26px 24px 0px; 
    float:left;
        
}
.movieData{
    border:solid yellow 1px;
    height:252px;
    width:728px;
    float:right;
}
.movieName{
    color:white;
}
.para{
    color:white;
}
.discription{
    color:white;
}
.actionRow{
    border:solid red 1px;
    height:33px;

   
}
.thumbs{
    border:solid blue 1px;
    width:32px;
    height:32px;
    float:left;
 
}
.like{
    border:solid blue 1px;
    width:32px;
    height:32px;
    float:left;
 
}
.dislike{
    border:solid blue 1px;
    width:32px;
    height:32px;
    float:left;
 
}
.delete{
    border:solid blue 1px;
    height:29px;
    width:26px;
    float:right;
}



.row3{
    border:solid red 1px; 
    height:100px; 
 
}
 
